<div class="col-md-12 row">
    <div class="col-md-2 form-group">
        <input type="text" placeholder="Nome" class="form-control" [(ngModel)]="task.name">
    </div>
    <div class="col-md-2">
        <input type="text" placeholder="Valor" class="form-control" [(ngModel)]="task.value">
    </div>
    <div class="col-md-2">
        <input type="text" placeholder="Data de lançamento" class="form-control" [(ngModel)]="task.date_launch">
    </div>
    <div class="col-md-2">
        <button type="button" (click)="add()" class="btn btn-success">Adicionar na lista</button>
    </div>
    <div class="col-md-2">
  </div>
</div>
