<div class="row">
  <div class="col-md-12 row">
    <div class="col-md-3 form-group">
        <input type="text" placeholder="Produto" class="form-control" [(ngModel)]="task.name">
    </div>
    <div class="col-md-3">
        <input type="text" placeholder="Valor" class="form-control" [(ngModel)]="task.value">
    </div>
    <div class="col-md-3">
        <button type="button" (click)="add()" class="btn btn-success">Adicionar na lista</button>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 30px;">
      <table class="table table-bordered table-dark" style="border: 1px solid #000;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome do produto</th>
              <th>Valor</th>
              <th style="width: 110px;">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tasks; let i = index" [attr.data-index]="i" [id]=" 'list-' + item.name ">
              <td stye="width: 30px;"> {{ i + 1 }} </td>
              <td [innerHtml]="item.name"></td>
              <td [style.color]="item.value > 0 ? 'white' : 'red' " [innerHtml]="item.value"></td>
              <td><button class="btn-danger btn"><span class="glyphicon glyphicon-remove"></span>Remover</button></td>
            </tr>
          </tbody>
      </table>
  </div>
</div>